ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.navber {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 2%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navber a {
  font-size: 1.15rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

.icons {
  position: absolute;
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
  display: none;
}

.logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.nav_link {
  text-decoration-thickness: 3px;
  color: green;
}

.nav_link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: green;
}
